@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');

body {
  background-color: #e5e5e5;
}

.hero {
  width: 100vw;
  height: 91vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: black;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
